<!--
Attraverso l’utilizzo di axios: al caricamento della pagina axios chiederà, attraverso una chiamata api, i dischi a php e li stamperà attraverso vue.
- prima milestone: recuperare la lista dei dischi tramite una chiamata axios e stampare la lista dei titoli degli album all'interno di una lista non numerata (ul)
- seconda milestone: per ogni disco, stampare una card con tutte le informazioni
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISCHI</title>
    <!-- css -->
    <link rel="stylesheet" href="../assets/style.css">
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js" defer></script>
    <!-- my js -->
    <script src="../assets/script.js" defer></script>
</head>
<body>
    <div id="app">
        <header>
            <h1>DISCHI</h1>
            <select onchange="getList" name="genre" v-model="genre">
                <option value="all">All</option>
                <option v-for="genre in genres" :key="genre" :value="genre">{{ genre }}</option>
            </select>
        </header>
        <main class="container">
            <div v-for="obj in discs" :key="obj.i" class="card">
                <img :src="obj.poster" alt="poster">
                <h2>{{ obj.title }}</h2>
                <div>{{ obj.author }}</div>
            </div>
        </main>
    </div>
</body>
</html>